.blog-sidebar {
  background: #f7f7f7;
  border: solid 1px gray;

  .cat-tag-section {
    border-bottom: solid 1px gray;
    ul {
      list-style: none;
      padding: 0;
    }
  }

  .random-post-section {
    ul {
      list-style: none;
      padding: 0;
    }
    li {
      border: solid 1px #d6d6d6;
      padding: 0 8px 0 0;
      margin-bottom: 10px;
      font-size: 14px;

      a {
        color: grey;
        img {
          width: 60px;
          height: 60px;
        }
        span {
          padding: 6px;
        }
      }
    }
  }
}

.blog-post-list {
  .post-block {
    margin-bottom: 40px;
  }
  .post-thumbnail {
    height: 230px;
    display: block;
    background-size: cover;
    background-position: center;
    border: solid 3px #dedede;
    border-radius: 5px;
  }
  .post-author-image {
    width: 70px;
    height: 70px;
    display: inline-block;
    background-size: cover;
    background-position: center;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    margin: -35px 20px 0 0;
    border: solid 3px #dedede;
    transition: .2s;
    &:hover {
      border: solid 3px #6bbdf9;
    }
  }
  .post-author {
    display: inline-block;
    position: relative;
    top: -17px;
    right: 12px;
    font-size: 11px;
    color: gray;

    a {
      color: #288fda;
      font-size: 14px;
      transition: .2s;
      &:hover {
        color: #1f6ada;
      }
    }
  }
  .post-date {
    text-align: left;
    display: block;
    margin-top: -37px;
    margin-left: 10px;
    font-size: 13px;
    color: #4a4a4a;
    direction: ltr;
  }
  .post-title {
    margin-top: 30px;
    margin-bottom: 10px;
    a {
      color: #4493bd;
    }
  }
  .post-excerpt {
    text-align: justify;
    padding: 0 10px;
    font-size: 15px;
    line-height: 1.8;
    color: #464646;
  }
}