@font-face {
  font-family: Sahel;
  src: url('../fonts/sahel/Sahel.eot');
  src: url('../fonts/sahel/Sahel.eot?#iefix') format('embedded-opentype'),
  url('../fonts/sahel/Sahel.woff') format('woff'),
  url('../fonts/sahel/Sahel.ttf') format('truetype');
  font-weight: normal;
}

@font-face {
  font-family: Sahel;
  src: url('../fonts/sahel/Sahel-Bold.eot');
  src: url('../fonts/sahel/Sahel-Bold.eot?#iefix') format('embedded-opentype'),
  url('../fonts/sahel/Sahel-Bold.woff') format('woff'),
  url('../fonts/sahel/Sahel-Bold.ttf') format('truetype');
  font-weight: bold;
}

@font-face {
  font-family: Sahel;
  src: url('../fonts/sahel/Sahel-Black.eot');
  src: url('../fonts/sahel/Sahel-Black.eot?#iefix') format('embedded-opentype'),
  url('../fonts/sahel/Sahel-Black.woff') format('woff'),
  url('../fonts/sahel/Sahel-Black.ttf') format('truetype');
  font-weight: 900;
}