@import "font";
@import "rules";
@import "blog";

body {
  font-family: Sahel, sans-serif;
  direction: rtl;
}

a {
  text-decoration: none;
}

nav {
  margin: 20px 0 50px;
  a {
    padding: 0 10px;
  }
}